<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
  
  <logger 
        name="com.db.rms.poc"
        level="debug"
  />
  
  <logger 
        name="org.apache.hadoop"
        level="warn"
  />
  <logger 
        name="org.apache.zookeeper"
        level="warn"
  />
  <logger 
        name="org.apache.zookeeper.client.ZooKeeperSaslClient"
        level="error"
  />
  <logger 
        name="org.apache.hadoop.security"
        level="error"
  />
  
</configuration>